.lightBox{
    position: relative;
    width:100%;
    .lightBox__close{
        position:absolute;
        top:25px;
        right: 25px;
        color:#000000;
        font-size: 2rem;
        z-index:1001;
        opacity: 0.7;
        cursor: pointer;
        transition: all .5s;
        &:hover{
            opacity: 1;
        }
    }
}